body
{
    background-image: url("https://img.freepik.com/free-vector/dark-paper-layers-wallpaper-with-golden-details_23-2148403401.jpg?size=626&ext=jpg");
}
.identify
{
    width: 50%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
b{
    color: gold;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}